.wpcf7-form {
	font-family: 'Comfortaa'!important;
    padding-top: 30px;
    width: 379px;
    height: 478px;
    background-color: #ffffff;
    border-radius: 8px;
    border: 1px solid #edc0b4b0;
}

.wpcf7-form>p>label>span>input{
	font-family: 'Comfortaa'!important;
    font-size: 16px;
    padding: 3px 0 3px 6px;
    margin: 4px 0px;
}
.wpcf7-form>p>label>span>select{
	font-family: 'Comfortaa'!important;
    font-size: 14px;
    padding: 3px 0px 3px 5px;
    margin: 4px 0px;
    width: 300px;
    height: 32px;
}
.wpcf7-form>p {
    font-size: 12px;
    margin: 0 0 5px 40px;
}
.wpcf7-form>p>text{
	padding-left: 5px;
}

.wpcf7-select,
.wpcf7-date,
.wpcf7-text,
.wpcf7-mask {
    width: 292px;
    border: 1px solid;
    border-radius: 8px;
    height: 25px;
    background-color: transparent;
    outline: none;
}

.wpcf7-textarea {
	font-family: 'Comfortaa'!important;
    height: 50px;
    resize: none;
    border-radius: 8px;
}

.wpcf7-submit {
	font-family: 'Comfortaa'!important;
    font-size: 16px;
    font-weight: bold;
    right: -113px;
    top: 9px;
    background-color: #f9ebe8;
    width: 300px;
    height: 40px;
    box-shadow: 1px 1px 1px #a3a3a3;
	border: #f9ece8;
    border-radius: 8px;
    color: #585858;
}

.wpcf7-submit:hover {
    background-color: #edddda;
	box-shadow: 1px 1px 2px #a3a3a3;
    transition: all .2s ease-out;
}

.wpcf7-submit:active {
    background-color: #fbddd7;
	box-shadow: 1px 1px 3px #a3a3a3;
    transition: all .1s ease-out;

}

.wpcf7-spinner {
    background-color: #484c4e !important;
    top: 5px;
    width: 36px;
    height: 36px;
    left: 110px;
}

.wpcf7-spinner::before {
    top: 6px;
    left: 6px;
    width: 9px;
    height: 9px;
    transform-origin: 12px 12px;
}

.invalid {
    font-size: 12px;
}

.sent {
    font-size: 12px;
}

.wpcf7-response-output {
    font-size: 14x;
    margin: -2.5em 0.5em 0em !important;
    border-radius: 8px;
}

.wpcf7>form>p {
    font-family: 'Comfortaa'!important;	
}

.wpcf7-list-item {
    margin: 0!important;
}

.emodal-close,
.emodal-title,
label {
	font-family: 'Comfortaa'!important;
}

.wpcf7-mask {
    letter-spacing: 1px;
}