.header {
  white-space: nowrap;
  font-family: 'Comfortaa';
  position: sticky;
  top: 0;
  z-index: 999;
  opacity: .95;
  background: #ffffff !important;
}

.header_wrap {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 30px;
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}

.header_link_wrap {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.horizontal_line {
  border-top: solid 1px #edc0b4b0;
}

.menu_button {
  display: none;
  cursor: pointer;
}

.menu_items {
  position: absolute;
  right: 35px;
  top: 51px;
  display: none;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  padding: 10px;
  border-radius: 3px;
  text-align: start;
  font-size: xx-large;
}

.menu_item {
  display: block;
  padding: 5px;
}

.show {
  display: block;
}

.header_link_menu {}

.header_links {
  display: flex;
  align-items: center;
  list-style-type: none;
  font-size: 16px;
  gap: 10px;
  padding: 0;
}

.header_links>li>a {
  text-decoration: none;
  color: black;
}

.header_links>li>a:hover {
  color: #ebaf9f;
  transition: all .1s ease-out;
}

.current-menu-item>a {
  color: #ebaf9f !important;
}

.header_sign_btn {
  margin-left: 5px;
  margin-bottom: 4px;
  display: flex;
  gap: 1px;
  justify-content: center;
  text-align: center;
  background-color: #f9ebe8;
  border: solid 1px #c3c3c3db;
  border-radius: 8px;
  cursor: pointer;
  padding: 2px 2px 1px 5px;
}

.header_sign_mobile {
  display: none;
}

.sign_svg {
  height: 19px;
  /*     margin-bottom: -3px; */
}

.header_sign_btn:hover {
  background-color: #edddda;
  transition: all .2s ease-out;
}

.header_sign_btn:active {
  background-color: #fbddd7;
  transition: all .2s ease-out;

}

.header_sign_text {
  margin: 2px;
  font-size: 16px;
  font-weight: bold;
}

@media (max-width: 782px) {
  .header {
    opacity: 1;
  }

  .header_wrap {
    padding: 5px 15px;
  }

  .header_buttons {
    display: flex;
    flex-direction: row;
    gap: 3px;
  }

  .header_links {
    display: none;
  }

  .header_link_item {
    display: flex;
    flex-direction: column;
    margin: 0 15px 0px -25px;
    list-style-type: none;
    font-size: 24px;
    gap: 5px;
  }

  .header_link_item>li>a {
    color: black;
    text-decoration: none;
  }

  .header_link_item>li>a:hover {
    text-decoration: underline;
    color: #ebaf9f;
    transition: all .1s ease-out;
  }

  .menu_button {
    display: none;
  }

  .header_sign_btn {
    display: none !important;
  }

  .menu_button {
    font-family: 'Comfortaa';
    display: block !important;
    background-color: transparent;
    border: none;
    outline: none;
  }

  .header_sign_mobile {
    display: flex !important;
    margin: 6px 6px 10px;
  }

  .header_sign_text {
    font-size: 18px;
  }

  .sign_svg {
    height: 20px;
  }

  .menu_button_icon {
    height: 30px;
  }

  .menu_button_iconBG {
    background-color: rgb(197, 193, 193);
  }
}