.header {
  white-space: nowrap;
  font-family: 'Comfortaa';
  position: sticky;
  top: 0;
  z-index: 999;
  opacity: .95;
  background: #ffffff !important;
}

.header_wrap {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 30px;
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}

.horizontal_line {
  border-top: solid 1px #edc0b4b0;
}

.menu_button {
  display: none;
  cursor: pointer;
}

.menu_items {
  position: absolute;
  right: 35px;
  top: 50px;
  display: none;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  padding: 10px;
  border-radius: 3px;
  text-align: start;
  font-size: xx-large;
}

.menu_item {
  display: block;
  padding: 5px;
}

.show {
  display: block;
}


.header_links {
  display: flex;
  align-items: center;
  list-style-type: none;
  font-size: 14px;
  gap: 10px;
}

.header_links>li>a {
    text-decoration: none;
    color: black;
}

.header_links>li>a:hover {
   color: #ebaf9f;
  transition: all .1s ease-out;
}

.current-menu-item>a {
  color: #ebaf9f !important;
}

.header_soc {
  display: flex;
  flex-direction: row;
  align-items: center;
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}

.header_soc_icons {
  display: flex;
  flex-direction: row;
  gap: 7px;
  margin: 5px;

}

.header_link_svg {
  height: 35px;
}