html {
    font-family: 'Comfortaa';
    height: 100%;
}
body {
    font-family: 'Comfortaa';
    margin: 0 auto;
    width: 90%;
    background: linear-gradient(25deg, #efbda8, #a1d2e8);
	background-attachment: fixed;
    min-height: 100%;
}
.wrapper {
	min-height: 100vh;
    padding-bottom: 100px;
}

.main {
    height: 100%;
	padding: 0 10px;
}

.content_none {
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content_none_del {
    width: 80vh;
    border-radius: 60px;
}
/*------------------captcha------------------*/
.grecaptcha-logo {
    display: none !important;
}
 
.grecaptcha-badge {
    display: none !important;
}