html {
    font-family: 'Comfortaa';
    height: 100%;
}

body {
    margin: 0;
}

.wrapper {
    font-family: 'Comfortaa';
    margin: 0;
    width: 100%;
    background: linear-gradient(45deg, #EECFBA, #C5DDE8);
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.content_wrap {
    height: 100%;
}

.content_none {
    box-sizing: border-box;
    min-height: 100%;
    padding-bottom: 90px;
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content_none_del {
    width: 80vh;
    border-radius: 60px;
}

.footer {
    width: 100%;
    z-index: 999;
    background: #ffffff;
}

.footer_wrap {
    height: 15vh;
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;

}

.footer_contact_wrap {
    width: max-content;
    border-right: 2px solid #edc0b4;
    padding: 10px 30px 0 0;
}

.footer_contact {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    text-decoration: none;
    gap: 5px;
}

.footer_contact a {
    display: flex;
    align-items: flex-end;
    text-decoration: none;
    font-size: 14px;
    gap: 5px;
    color: black;
}

.footer_contact a:hover {
    text-decoration: underline;
    color: #ebaf9f;
    transition: all .1s ease-out;
}

.footer_link_svg {
    height: 20px;
    cursor: pointer;
    text-decoration: none;
    align-items: center;
}

.footer_logo {
    height: 40px;
    opacity: 0.5;
}

.footer_copy {
    font-size: 12px;
    padding: 5px;
    text-align: center;
    font-weight: 900;
    opacity: 0.7;
    color: #000000;
}

@media (max-width: 770px) {
    .header_logo {
        height: 55px;
    }

    .header_link_svg {
        height: 40px;
    }

    .content_none_del {
        width: 45vh;
    }

    .content_none {
        padding-top: 100px;
    }


    .footer_contact_wrap {
        width: 50%;
        padding: 0;
    }

    .footer_contact {
        display: flex;
        flex-direction: column;
        cursor: pointer;
        text-decoration: none;
        gap: 5px;
    }

    .footer_contact a {
        font-size: 20px;
    }

    .footer_link_svg {
        height: 25px;
    }

    .footer_logo {
        height: 45px;
        opacity: 0.5;
    }

    .footer_copy {
        font-size: 14px;
    }
}