html {
    font-family: 'Comfortaa';
    height: 100%;
}
body {
    font-family: 'Comfortaa';
    margin: 0 auto;
    width: 100%;
    
    min-height: 100%;
}
.wp-block-columns {
	margin: 0!important;
}

section{
    padding: 35px 20px;
    background: #ffffffb0!important;
}

.wp-block-separator{
	margin: 0;
}

.wrapper_content {
	background: linear-gradient(25deg, #efbda8, #a1d2e8);
/* 	background-attachment: fixed; */
	min-height: 100vh;
    padding-bottom: 100px;
}

.main {
    height: 100%;
}
.main a{
	text-decoration:none;
	color: #367fc9;
}

.main a:hover{
    text-decoration: underline;
	color: #f5a995;
	transition: all .1s ease-out;
}

.content_none {
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content_none_del {
    width: 80vh;
    border-radius: 60px;
}
.ya_map {
	padding: 35px 0;
}
.section_link_svg {
    fill: #484c4e;
    height: 40px;
    width: 40px;
}

.section_link_svg:hover {
    fill: #f5a995;
    transition: all .1s ease-out;
}

.wrap_link_svg {
    display: flex;
    flex-direction: row;
    width: max-content;
    gap: 5px;
}

/*------------------captcha------------------*/
.grecaptcha-logo {
    display: none !important;
}
 
.grecaptcha-badge {
    display: none !important;
}

@media (max-width: 782px) {
    body {
        width: 100%;
    }

    .content_none_del {
        width: 95vw;
    }

    .content_none {
        padding-top: 15vh;
    }
}